* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #2e2f42;
  background-color: rgba(255, 255, 255, 0.87);
  letter-spacing: 0.04em;
  margin: 0;
}
